.App {
  min-height: 100vh;
  transition: background 0.3s;
}

.App h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}